<a href="https://colab.research.google.com/github/a-forty-two/cylons/blob/master/03_TimeSeriesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Choosing right model or algo 
# https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

# data from https://community.tableau.com/docs/DOC-1236
!ls

 sample_data  'Sample - Superstore (1).xls'

In [1]:
import pandas as pd
df = pd.read_excel('Sample - Superstore (1).xls')
df.head()
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [0]:
import warnings
import itertools
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
# for production use, we may want to supress the warning
# NEVER for dev-> ALL WARNINGS must be taken into account and fix whatever can be fixed
warnings.filterwarnings("ignore")
# That any code that may throw warning would have inherited the Exceptions and warnings classes
# If some package is throwing warning or exception without using the right channel, then 
# the warning will not be supressed

In [6]:
df.head(2)
# WHENEVER you're into TS analysis -> TIMESTAMPS 
# what if you don't have time stamps but data is arranged in either time-ascending or descending order,
# you can always take a reference timeline -> 1990-2000 
# TIMESTAMP should work like an INDEX and not input dataset 
# TSA -> Univariate and multivariate 
# ONE FEATURE is going to fluctuate w.r.t. TIME 

# TIMESTAMPS -> Order Date and Ship Date 
# Identify all indexes or seemingly indexes and REMOVE THEM -> NEW DF -> don't mutate the old DF
# Identify ALL categorical DATA -> in TSA , categories help us FILTER the data 
# If there categories like COuntry -> Then i could make individual TSA predictions for each country

   Row ID        Order ID Order Date  ... Quantity Discount    Profit
0       1  CA-2016-152156 2016-11-08  ...        2      0.0   41.9136
1       2  CA-2016-152156 2016-11-08  ...        3      0.0  219.5820

[2 rows x 21 columns]

In [10]:
# Let's find out all important categorical data or DISCRETE values 
# importance-> usability for filtering 
len(df)
df.Country.value_counts() # Because all values belong to only 1 category!!
df.City.value_counts() # Because TOO MANY values for CITY! here, Analysis is possible 
# for some cities like NYC, LA, Phil because they've enough data points representing them

New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Danbury            1
Redding            1
Chapel Hill        1
Palatine           1
Bartlett           1
Name: City, Length: 531, dtype: int64

In [14]:
colNames = df.columns 
for i, feature in enumerate(colNames):
  print(colNames[i] + " " + str(len(df[feature].value_counts())))

# FROM OUTPUT below, we can conclude that best variables for categorical filtering were
# 1) Region, 2) Categories, comparitively weaker but still valid-> SUB CATEGORY

Row ID 9994
Order ID 5009
Order Date 1237
Ship Date 1334
Ship Mode 4
Customer ID 793
Customer Name 793
Segment 3
Country 1
City 531
State 49
Postal Code 631
Region 4
Product ID 1862
Category 3
Sub-Category 17
Product Name 1850
Sales 6144
Quantity 14
Discount 12
Profit 7545

In [15]:
df.Category.value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [19]:
data = df.loc[df['Category']=='Furniture']  # LOC-> :,:
#data.head()
print(data['Order Date'].min())
print(data['Order Date'].max())

2014-01-06 00:00:00
2017-12-30 00:00:00

In [20]:
# WHAT IS THE FEATURE that I want to predict against TIME? 
# y= f(x) -> Y is a CONTINUOUS NUMBER that will change as per time 
# 2 kind of numbers -> CONTINUOUS and DISCRETE 
# DISCRETE are categorical features, CONTINUOUS -> numerical real values
# COMPLEX numbers -> Real + imaginary -> break down into 2 separate features and solve separately

    Row ID        Order ID Order Date  ... Quantity Discount    Profit
0        1  CA-2016-152156 2016-11-08  ...        2     0.00   41.9136
1        2  CA-2016-152156 2016-11-08  ...        3     0.00  219.5820
3        4  US-2015-108966 2015-10-11  ...        5     0.45 -383.0310
5        6  CA-2014-115812 2014-06-09  ...        7     0.00   14.1694
10      11  CA-2014-115812 2014-06-09  ...        9     0.20   85.3092

[5 rows x 21 columns]

In [21]:
df['Ship Mode'].value_counts()
# If I was a LOGISTICS planner or Biz Analyst, this is the categorical column!

Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64

In [0]:
# Best continuous variables to predict AGAINST time 
# Sales and Profit (Sales Biz Analyst)
# Quantity (Logistic Biz Analyst) and Discount (too many 0s)

# For demo, let's proceed with predicting SALES

In [0]:


# INTEGERS -> COMPLETE positive,zero and negative
# Real Numbers -> All integers that are not imaginary 
# imaginary numbers -> any number with a no.sqrt(-1)

# Rational and Irrational Numbers -> rationals are calcuatable nos, irrationals-> PI, 22/7 
# PI chart -> discrete
# histograms -> discrete
# LINE chart-> continuous 

# Discrete and Continuous -> book -> Ralph L Grimaldi's discrete and combinatorial maths