<a href="https://colab.research.google.com/github/a-forty-two/cylons/blob/master/09_Saving_Models_and_Weights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# ECONOMICS -> MAXMIZING PROFIT /MINIMIZING LOSS -> Game Theory
# TRUST

In [1]:
# Dataset: https://github.com/a-forty-two/cylons/blob/master/diabetes%20(1).csv
# PIMA INDIANS DIABETES DATASET from Kaggle 

!ls

'diabetes (1).csv'   sample_data

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.models import model_from_json
import numpy
import os 
numpy.random.seed(42)

In [9]:
dataset = numpy.loadtxt('diabetes (1).csv' , delimiter=',', skiprows=1)
dataset

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [11]:
X = dataset[:, 0:-1]
Y = dataset[:, -1]
X.shape

(768, 8)

In [0]:
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu')) # tf.nn.relu was TF relu object! 
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [13]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 12)                108
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________